.container {
  background: url(../assets/loginBackground.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxContainer {
  margin: 10px 100px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}
.backButton {
  padding: 10px 0 0 50px;
}
