.container {
  background: url(../assets/loginBackground.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxContainer {
  padding: 0 50px 20px 50px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 25px;
}
h1 {
  font-style: italic;
}
